body {
  margin: 0;
  padding: 0;
  font: 1em "Helvetica", sans-serif;
  font-weight: 300;
}

.start-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-wrap {
  text-align: center;
}

.text {
  padding: 0 20px;
}

.text > h6 {
  margin-bottom: 25px;
}

.username-wrap > input {
  display: inline-block;
  width: 100%;
}

.empty {
  border: 2px solid red !important;
}

.empty-span,
.no-show {
  color: red;
  display: inherit;
  font-size: 14px;
  transition: visibility 0s, opacity 0.2s linear;
}
.empty-span {
  visibility: visible;
  opacity: 1;
}

.no-show {
  visibility: none;
  opacity: 0;
}

.username-wrap > input[type=submit] {
  background:#29c9ff;
	color:#fff;
  font-weight:700;
  border: 1px solid #29c9ff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.active {
  background: lightgray;
}

 .sidebar {
   height: 100vh;
    padding: 10px 0;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid lightgrey; 
    overflow: hidden;
} 

.main {
    overflow: hidden;
    top: 0px; 
    bottom: 0px;
    right: 0px;
    padding: 0;
    height: 100vh;
}

.input-block {
  height: 60px;
}

.button-wrap {
  display: inline-block;
}

.vertical-middle-magic {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.messenger {
  height: calc(100vh - 60px);
  padding: 10px 40px 0 10px;
   overflow-y: scroll;
  bottom: 0;
}

#message,
.username-wrap > input[type=text] {
  width: 100%;
  border: 2px solid rgba(211,211,211,0.3);
  padding-left: 5px;
  border-radius: 5px;
  background: rgba(211,211,211,0.3);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;;
}

#message:focus,
.username-wrap > input[type=text]:focus {
  border: 2px solid #29c9ff;
  outline-width: 0;
}

#message::selection,
.username-wrap > input[type=text]:selection {
  color: #29c9ff;
}

.form-div {
    display: inline-block;
}

#send-button {
    background: #29c9ff;
    border: 1px solid;
    border-color: #29c9ff;
    border-radius: 50px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}

.instead-of-img {
  background: grey;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0 10px 0 0;
  text-align: center;
}

.instead-of-img span {
  line-height: 30px;
  font-size: 16px;
}

.message-block-self {
  justify-content: flex-end;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.message-content-self {
  background: #29c9ff;
  margin-top: auto;
  border-radius: 10px;
  padding: 3px 10px;
}

.message-block {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.message-block:first-child {
  margin-top: 0px;
}

.message {
  max-width: 85%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.message-author {
  display: flex;
  flex-grow: 1;
  color: grey;
  font-size: 12px;
}

.message-content {
  margin-top: auto;
  background: lightgray;
  border-radius: 10px;
  padding: 2px 10px;
}

.message-author {
  margin-right: 10px;
}

/*
Sidebar stuff
*/

.sidebar-instead-of-img {
  background: grey;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 0;
  margin: 0 10px 0 0;
  text-align: center;
}

.sidebar-instead-of-img span {
  line-height: 60px;
  font-size: 26px;
}

.sidebar-message-block,
.rightsidebar-message-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}


.sidebar-message-container:hover {
  background: lightgray;
  cursor: pointer;
}

.sidebar-message {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.sidebar-message-content {
  color: grey;
  font-size: 12px;
}

.sidebar-message-container:last-child {
  margin-bottom: 30px;
}

.sidebar-message-content span {
float: left;
width: 90%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: grey;
}

p {
  margin: 0;
}

.self > .instead-of-img,
.self > .message > .message-author {
  display: none;
}

.self {
  flex-direction: row-reverse;
  padding: 0 20px 0 0;
}

.self > .message > .message-content {
  background: #29c9ff;
  color: white;
  border-radius: 10px;
  padding: 2px 10px;
}


/* Right Sidebar */

 .right-sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-left: 1px solid lightgrey; 
    height: 100vh;
} 

.right-sidebar h5 {
  text-align: center;
}

.conversation-users {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey; 
  overflow: auto;
  height: 100vh;
}

.information-about-me {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#group-conversation {
  transition:  0.2s ease-in-out;
  cursor: pointer;
  border: none;
  width: 50px;
  outline: none;
}

#group-conversation:hover {
  background: darkgrey;
}

#group-conversation:focus {
  outline: 0
}

#group-conversation:active {
  outline: none;
  border: none;
}

.filter-and-create-new-conversation {
  overflow: initial;
  position: fixed;
  width: 25%;
  top: 0;
  height: 40px;
  border-bottom: 1px solid lightgrey;  
  display: flex;
  justify-content: space-between;
}

.conversations {
  top: 40px;
  position: relative;
  height: 100%;
  overflow: auto;
}

.search {
  position: relative;
}

.search input {
  background: rgba(211,211,211,0.3);
  border: 2px solid rgba(211,211,211,0.3);
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  padding: 0 30px;
  margin: 10px 0 7px 30px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;;
}

.search .fa-search { 
  position: absolute;
  top: 12px;
  left: 42px;
}

#search-filter:focus {
  border: 2px solid #29c9ff;
  outline-width: 0;
}

::-webkit-input-placeholder { text-align: center; }

:-moz-placeholder { /* Firefox 18- */ text-align: center; }

::-moz-placeholder {  /* Firefox 19+ */ text-align: center; }

:-ms-input-placeholder { text-align: center; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.group-adding-process {
  height: 40px;
  background: lightblue;
}

#search-people-for-group {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid lightgrey; 
}

#search-people-for-group:focus {
  outline: none;
}


.group-adding-process .fa-search { 
  position: absolute;
  top: 12px;
  left: 10px;
}

.container-for-filtering-list {
  max-height: min-content;
  width: 300px;
  overflow: auto;
  position: relative;
  top: 10px;
  border-radius: 20px;
  left: 30px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  border: 2px solid rgba(211,211,211,0.3);
}

.container-for-filtered-list {
  margin-right: 30px;
  max-height: 300px;
  width: 300px;
  overflow: scroll;
  position: relative;
  top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  border: 2px solid rgba(211,211,211,0.3);
}

.filtered-user-container,
.filtering-user-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filtered-user-container:last-child,
.filtering-user-container:last-child {
  margin-bottom: 0;
}

.filtered-user-container:hover,
.filtering-user-container:hover {
  background: lightgray;
  cursor: pointer;
}

.wrap-for-friends {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 174px;
}

.create-group-button {
  height: auto;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

input[type="text"]::selection {
  color: #29c9ff;
}

.error-box {
  padding-top: 12px;
  color: red;
  width: 283px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-wrap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-show {
  display: none;
}

.conversation-name {
  text-align: center;
  padding-top: 50px;
}

.conversation-name input[type=text] {
  border: 2px solid rgba(211,211,211,0.3);
  padding-left: 5px;
  border-radius: 5px;
  background: rgba(211,211,211,0.3);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;;
}

.conversation-name input[type=text]:focus {
  border: 2px solid #29c9ff;
  outline-width: 0;
}

.conversation-name input[type=text]:selection {
  color: #29c9ff;
}


/* Trick for overscrolling. Not sure how it works on multiple browsers */

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
